@import '../../../defaults.scss';
.container {
    padding: $defaultContainerSpacing;
}

.entityTitle {
    font-size: 20px;
    font-weight: bold;
}

@mixin entity-view-theme($theme) {
    $background: map-get($theme, background);

    .container {
        background: map-get($background, app-bar);
    }
}
