@import '../../../defaults.scss';

.container {
  margin-top: $defaultContainerSpacing;
  padding: 0;
}

.itemsHeader {
  display: flex;
  justify-content: space-between;
}

.spacer {
  flex: auto auto;
}

.itemsLabel {
  font-size: 12px;
  color: grey;
}

.entityExpander {
  margin: $defaultSpacing 0;
}

::ng-deep div.mat-expansion-panel-body {
  padding: $defaultSpacing;
}
