<mat-card>
    <mat-card-title>
      Actions ({{actions?.length}})
    </mat-card-title>

    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let action of actions">

          <ng-container *ngIf="action.isParameterLess; else parameterActionTemplate">
            <app-parameterless-action-view [action]=action></app-parameterless-action-view>
          </ng-container>
          <ng-template #parameterActionTemplate>
              <app-parameter-action [action]=action></app-parameter-action>
          </ng-template>
        </mat-list-item>
      </mat-list>
    </mat-card-content>

  </mat-card>
