<mat-card>
    <mat-card-title>
      Actions
    </mat-card-title>

    <mat-card-content>
        <ng-container *ngFor="let action of actions">

          <ng-container *ngIf="action.isParameterLess; else parameterActionTemplate">
            <app-parameterless-action-view [action]=action></app-parameterless-action-view>
          </ng-container>
          <ng-template #parameterActionTemplate>
              <app-parameter-action [action]=action></app-parameter-action>
          </ng-template>

        </ng-container>

    </mat-card-content>

  </mat-card>
