<mat-card>
    <mat-card-title>
      Actions ({{actions?.length}})
    </mat-card-title>

    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let action of actions">

          <ng-container *ngIf="action.isParameterLess; else parameterActionTemplate">
            <app-parameterless-action-view [action]=action></app-parameterless-action-view>
          </ng-container>
          <ng-template #parameterActionTemplate>
             <!-- todo make component -->
              <div>name: {{action.name}} (with parameters)</div>
              <div>title: {{action.title}}</div>
              <div>classes: {{action.classes.join(",")}}</div>
              <div>schema: {{action.waheActionParameterJsonSchema}}</div>
              <br>
          </ng-template>




        </mat-list-item>
      </mat-list>
    </mat-card-content>

  </mat-card>
