<h2>{{action.name}}: {{action.title}} </h2>
<!-- <div>classes: {{action.classes.join(",")}}</div> -->
<!-- <div>schema: {{action.waheActionParameterJsonSchema | async}}</div> -->



<!-- todo if contains body show it / navigate to it -->

<json-schema-form [schema]="action.waheActionParameterJsonSchema | async" (onSubmit)="onActionSubmitted($event)"></json-schema-form>
<br>
<button *ngIf="actionResultLocation !== null" mat-raised-button (click)="navigateLocation(actionResultLocation)" matTooltip="{{actionResultLocation}}">
  Action result
</button>
<span>{{actionMessage}}</span>

<!-- <app-raw-view [rawObject]="action.waheActionParameterJsonSchema | async"></app-raw-view> -->
