<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon class="icon" color="primary">play_circle_outline</mat-icon>
      <div>{{action.name}}</div>
    </mat-panel-title>
    <mat-panel-description>
      {{action.title}}
    </mat-panel-description>
  </mat-expansion-panel-header>

  <!-- <div>classes: {{action.classes.join(",")}}</div> -->
  <!-- <div>schema: {{action.waheActionParameterJsonSchema | async}}</div> -->

  <!-- todo if contains body show it / navigate to it -->
  <json-schema-form [schema]="action.waheActionParameterJsonSchema | async" (onSubmit)="onActionSubmitted($event)"></json-schema-form>
  <br>
  <button *ngIf="actionResultLocation !== null" mat-raised-button (click)="navigateLocation(actionResultLocation)" matTooltip="{{actionResultLocation}}">
    Action result
  </button>
  <span>{{actionMessage}}</span>

  <!-- <app-raw-view [rawObject]="action.waheActionParameterJsonSchema | async"></app-raw-view> -->
</mat-expansion-panel>
