@import '../../../defaults.scss';

.propertyGrid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows:1rem;
  padding: $defaultSpacing 0;
}

.propertyLable .propertyValue {
  justify-self: start;
}

.warning {
  color: red;
}
