@import '../../../defaults.scss';

.propertyGrid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows:auto;
  padding: $defaultSpacing 0;
}

.propertyLable .propertyValue {
  justify-self: start;
}

.nestedObject {
  // background: lightgray;
  border-left: 2px solid lightgray;
  padding-left: $defaultSpacing
}

.warning {
  color: red;
}
