<mat-toolbar color="primary">
    <span>Hypermedia UI</span>
    <span class="spacer"></span>
    <button mat-button matTooltip="Exit API" (click)="navigateMainPage()">
      <mat-icon class="icon" >exit_to_app</mat-icon>
    </button>
</mat-toolbar>

<mat-toolbar class="apiToolbar" >

  <ng-container *ngFor="let link of navPaths; let i = index">
    <button mat-raised-button matTooltip="{{link}}" (click)="navigateLink(link)" color="primary">
      {{getUrlShortName(link)}}
    </button>

    <mat-icon *ngIf="i < navPaths.length-1">play_arrow</mat-icon>

  </ng-container>
</mat-toolbar>

<mat-tab-group *ngIf="configuration.showRawTab">
  <mat-tab label="UI">
    <app-entity-view [entity]="hto"></app-entity-view>
  </mat-tab>
  <mat-tab label="Raw" >
    <app-raw-view [rawObject]="rawResponse"></app-raw-view>
  </mat-tab>
</mat-tab-group>

<app-entity-view [entity]="hto" *ngIf="!configuration.showRawTab"></app-entity-view>
